
charset-normalizer==3.1.0
dj-database-url==2.0.0
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
newsapi-python==0.2.7
newsdataapi==0.1.8
packaging==23.1
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
soupsieve==2.5
urllib3==1.26.16
whitenoise==6.5.0
